<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Flower Analytics</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <span class="material-symbols-outlined text-indigo-500 text-5xl">
                photo_prints
              </span>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  {% with current="bg-gray-900 text-white" default="text-gray-300 hover:bg-gray-700 hover:text-white" %}
                  {% for url in urls %}
                  <a
                    href="{{ url.url }}"
                    class="{% if subtitle == url.name %}{{ current }}{% else %}{{default}}{% endif %} rounded-md px-3 py-2 text-sm font-medium"
                    ><div class="flex flex-row gap-2">
                      <span class="material-symbols-outlined"> {{ url.icon }} </span>
                      <span>{{ url.name }}</span>
                    </div></a>
                  {% endfor %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            <span class="material-symbols-outlined">{% if icon %} {{ icon }} {% endif %}</span> {% if title %} {{ title }} {% endif %}
            {% if subtitle %} - {{ subtitle }} {% endif %}
          </h1>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          {% for url in context.urls %}
          <a href="{{ url.url }}">{{ url.url }}</a>
          {% endfor %}
          {{ context }}
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>
